<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TacTicsToe</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="assets/css/global.css" />
    <link rel="stylesheet" href="assets/css/index.css" />

    <script src="assets/js/auth.js"></script>
  </head>
  <body>
    <header class="header">
      <h1>TacTicsToe</h1>

      <user-profile />
    </header>

    <main>
      <game-container></game-container>

      <div class="play-buttons" id="play-buttons">
        <button id="play-on-device-button" class="play-button single-player">
          On Device
        </button>

        <button id="play-online-button" class="play-button online">
          Play Online
        </button>

        <button id="tutorial-button" class="tutorial-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-question-mark"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M8 8a3.5 3 0 0 1 3.5 -3h1a3.5 3 0 0 1 3.5 3a3 3 0 0 1 -2 3a3 4 0 0 0 -2 4"
            />
            <path d="M12 19l0 .01" />
          </svg>
        </button>
      </div>
    </main>

    <template id="tutorial-template">
      <style>
        h2 {
          margin-bottom: 1rem;
        }

        img {
          width: 100%;
        }
      </style>

      <h2>How to play</h2>

      <p>
        The rules are the same as in the classic TicTacToe game, but with one
        twist: you can only place the winning piece in a cell that has an
        opponent's piece in a directly adjacent cell (horizontally, vertically,
        but not diagonally). In the example below, the player with the "X" piece
        can not place their piece, because there is no opponent's piece in a
        directly adjacent cell.
      </p>

      <img src="assets/img/incorrect-example.png" alt="Incorrect example" />

      <p>
        In this example, the player with the "X" piece can place their piece in
        the cell, because there is an opponent's piece in a directly adjacent
        cell.
      </p>

      <img src="assets/img/correct-example.png" alt="Correct example" />

      <p>That's it! Have fun playing TacTicsToe!</p></template
    >

    <footer>
      <p>
        Made by <a href="https://github.com/svrem">svrem</a>. The source code is
        available on
        <a href="https://github.com/svrem/tacticstoe-go">GitHub</a>.
      </p>
    </footer>

    <script type="module" src="assets/js/dialog.js"></script>

    <script src="assets/js/game.js"></script>
    <script type="module" src="assets/js/user-profile.js"></script>
  </body>
</html>
