:root {
  --player-color: 239, 50%, 40%;
  --opponent-color: 0, 50%, 40%;

  --winner-color: 120, 50%, 40%;
  --loser-color: 0, 50%, 40%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.2rem;
}

main {
  width: 100%;
  /* display: grid; */
  /* place-items: center; */
}

.game-container {
  --border-color: 0, 0%, 0%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  margin-left: auto;
  margin-right: auto;

  width: 500px;
  max-width: 100%;

  aspect-ratio: 1;
  border: 5px solid hsl(var(--border-color));

  border-radius: 1rem;
  overflow: hidden;

  color: black;

  box-shadow: hsla(var(--border-color), 0.2) 0px 8px 24px;
  transition: border-color 0.2s;

  &[data-player-turn="true"] {
    --border-color: var(--player-color);
  }

  &[data-player-turn="false"] {
    --border-color: var(--opponent-color);
  }

  &[data-player-winner="true"] {
    --border-color: var(--winner-color);
  }

  &[data-player-winner="false"] {
    --border-color: var(--loser-color);
  }

  & > .cell {
    border: 1px solid hsl(var(--border-color));
    transition: border-color 0.2s;
  }

  & > .cell:hover {
    border-color: hsl(var(--border-color));
  }
}

.cell[data-winner="true"] {
  background-color: hsla(var(--winner-color), 0.5);

  & > * {
    animation: quickBounce 0.5s;
  }
}

.cell[data-winner="false"] {
  background-color: hsla(var(--loser-color), 0.5);

  & > * {
    animation: quickBounce 0.5s cubic-bezier(0.93, 0.66, 0.37, 1);
  }
}

.header {
  position: relative;

  width: 100%;

  & > h1 {
    width: fit-content;
    height: fit-content;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .profile-picture {
    width: 3rem;
    aspect-ratio: 1;

    border-radius: 9999999px;
    object-fit: cover;

    margin: auto auto;
    margin-right: 0;
    top: 0;
    bottom: 0;

    display: block;
  }
}

.play-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  max-width: 100%;
  gap: 1rem;
  padding: 0 0.1rem;

  & > button {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  & > .bot {
    background-color: hsl(0, 0%, 45%);
    box-shadow: 0 4px 0 hsl(0, 0%, 30%);
  }

  & > .bot:hover {
    box-shadow: 0 6px 0 hsl(0, 0%, 30%);
    transform: translateY(-2px);
  }

  & > .bot:active {
    box-shadow: 0 2px 0 hsl(0, 0%, 30%);
    transform: translateY(2px);
  }

  & > .online {
    background-color: hsl(202, 77%, 45%);
    box-shadow: 0 4px 0 hsl(202, 77%, 30%);
  }

  & > .online:hover {
    box-shadow: 0 6px 0 hsl(202, 77%, 30%);
    transform: translateY(-2px);
  }

  & > .online:active {
    box-shadow: 0 2px 0 hsl(202, 77%, 30%);
    transform: translateY(2px);
  }
}

@keyframes quickBounce {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.1) translateY(-10px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
