body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  height: 500px;
  aspect-ratio: 1;
  border: 5px solid black;

  border-radius: 1rem;
  overflow: hidden;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cell {
  border: 1px solid black;
}
